<form ng-submit="addNewCard()" name="newCardForm" class="resizable" draggable="true">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title" ng-model="columnName">Add New Reqirement in '{{columnName}}'</h4>
    </div>
    <style>
    td {
        font-size: 10px; 
    }

    .champ{
    	border: 1px solid #A4A4A4;
        border-radius: 5px ;
        width:300px;
    }

    [draggable=true] {
    cursor: move;
	}

	.resizable {
    overflow: scroll;
    resize: both;
    max-width: 4600px;
    max-height: 4600px;
	}
    </style>
    <div class="modal-body">

        <div class="form-group">
        <table align="center">
        <tr>
        <td>
             UID 
        </td>
        <td>   
                <input type="text" id="newCarduid" placeholder="Requirement UID" ng-model="UID" required
                       focus-me/ class="champ ">
        </td>
        </tr>  
        
            
        </div>


        <div class="form-group">
        
        <tr>
        <td>
             Type 

        </td>
        <td>
                <input type="text" id="newCarduid" placeholder="Requirement Type" ng-model="Type" required
                       focus-me class="champ "/>
        </td>
        </tr>
        
        </div>

        <div class="form-group">
        <tr>
        <td>
             Abstraction level 
        </td>
        <td>
                <input type="text" id="newCarduid" placeholder="Requirement Abstraction" ng-model="Abstractionlvl" required
                       focus-me class="champ"/>
        </td>
        </tr>
        </div>

        <div class="form-group">
        <tr>
        <td>
             Origins 
        </td>
        <td>
                <input type="text" id="newCarduid" placeholder="Requirement Origins" ng-model="Origins" required
                       focus-me class="champ"/>
        </td>
        </tr>
        </div>  

        <div class="form-group">
        <tr>
        <td>
             Creators 
        </td>
        <td>
            
                <input type="text" id="newCarduid" placeholder="Requirement Creators" ng-model="Creators" required
                       focus-me class="champ"/>
        </td>
        </tr>
        </div>  

        <div class="form-group">
        <tr>
        <td>
             Categories 

        </td>
        <td>
                <input type="text" id="newCarduid" placeholder="Requirement Categories" ng-model="Categories" required
                       focus-me class="champ"/>
        </td>
        </tr>
        </div>  

        <div class="form-group">
        <tr>
        <td for="newCardTitle" >
            Name 

        </td>
        <td>
                <input type="text" id="newCardTitle" placeholder="Requirement Name" ng-model="title" required
                       focus-me class="champ"/>
        </td>
        </tr>
        </div>

        <div class="form-group">
            <tr>
            <td>
             Description 

            </td>
            <td>
                <textarea id="newCardDescription" ng-model="description" class="champ" rows="1" placeholder="Requirement Description">
                </textarea>
            </td>
            </tr>
        </div>  

        <div class="form-group">
        <tr>
        <td>    
             Long Description 
        </td>
        <td>
            
                <textarea id="newCardLdescription" ng-model="Ldescription" class="champ" rows="1" placeholder="Requirement Long Description">
                </textarea>
        </td>
        </tr>
        </div>  

        <div class="form-group">
            <tr>
            <td>
             Rationale 
            </td>
            <td>
                <input type="text" id="newCarduid" placeholder="Requirement Rationale" ng-model="Rationale" required
                       focus-me class="champ"/>
            </td>
            </tr>
        </div>

        <div class="form-group">
        <tr>
        <td>    
             Fitcriteria 

        </td>
        <td>
                <input type="text" id="newCarduid" placeholder="Requirement Fitcriteria" ng-model="Fitcriteria" required
                   focus-me class="champ"/>
        </td>
        </tr>    
        </div>

        <div class="form-group">
        <tr>
        <td>
             Satisfaction 

        </td>
        <td>
                <input type="text" id="newCarduid" placeholder="Requirement Satisfaction" ng-model="Satisfaction" required
                       focus-me class="champ"/>
        </td>
        </tr>
        </div>

        <div class="form-group">
        <tr>
        <td>
             Dissatisfaction 

        </td>
        <td>
                <input type="text" id="newCarduid" placeholder="Requirement Dissatisfaction" ng-model="Dissatisfaction" required
                       focus-me class="champ"/>
        </td>
        </tr>
        </div>

        <div class="form-group">
        <tr>
        <td>
            Documentation Links

        </td>
        <td>
                <input type="text" id="newCarduid" placeholder="Requirement Documentation Links" ng-model="DocLink" required
                       focus-me class="champ"/>
        </td>
        </tr>
        </div>

        <div class="form-group">
        <tr>
        <td>
           Related Requirements

        </td>
        <td>
                <input type="text" id="newCarduid" placeholder="Requirement Related Requirements" ng-model="RelatedReq" required
                       focus-me class="champ"/>
        </td>
        </tr>
        </div>

        <div class="form-group">
        <tr>
        <td>    
           Sub Reqirements

        </td>
        <td>
                <textarea id="newCardLdescription" ng-model="SubReq" class="champ" rows="1" placeholder="Sub Requirements">
                </textarea>
        </td>
        </tr>
        </div>

        <div class="form-group">
        <tr>
        <td>
            Reviewed

        </td>
        <td>
                <input type="text" id="newCarduid" placeholder="Requirement Reviewed" ng-model="Reviewed" required
                       focus-me class="champ"/>
        </td>
        </tr>
        </div>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
